body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
               'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
header {
  display: block;
  background-color: goldenrod;
  padding: 8px 0;
  
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Controls section inside Main */
.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
   flex-direction: column; 
  flex-wrap: wrap;       /* for small screens */
}

.add-elements{
    display: flex;
  flex-direction:column;
  gap: 12px;
  align-items: center;
}

.min-heap-function{
    display: flex;
  align-items: center;
  gap: 100px;
    
}

/* .array-function-button {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
} */


/* input */
.controls input {
  padding: 10px;
  width: 140px;
  border-radius: 10px;
  border: 1px solid ;
}

/* Buttons */
.controls button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: goldenrod;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.controls button:hover {
  background: black;
}

/* Queue display */
.heap-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Queue container */
#heapContainer {
  display: flex;
  gap: 10px;
  min-height: 60px;
}

/* Front / Rear labels */
.label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #facc15;
}

/* Queue element renders with JS*/
.heap-item {
  width: 60px;
  height: 60px;
  background: goldenrod;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
  animation: popIn 0.1s ease;
}

.heap-item.empty {
  background: #e5e5e5;
  color: #999;
  border: 2px dashed #ccc;
}

.heap-item.filled {
  background: goldenrod;
  color: white;
}

/* Status message */
#message {
  text-align: center;
  margin-top: 10px;
  font-size: 0.95rem;
}

#remove-index{
  opacity: 0 ;
}
/* Animation */
@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
